.login-box, 
.register-box {
  width: 500px;
  margin: auto;
  padding: 20px 40px;
  transform: translate(1%, 0%);
  background: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;

    h1 {
        margin: 10px 0 20px; 
        padding: 0;
        color: #fff;
        text-align: center;
    } 

    .login-button,
    .register-button {
        margin-top: 0; 
    }

    .fan-box {
      position: relative;

        input {
          width: 100%;
          padding: 9px 0;
          font-size: 15px;
          color: #fff;
          margin-bottom: 30px;
          border: none;
          border-bottom: 1px solid #fff;
          outline: none;
          background: transparent;

            &:focus ~ label {
              left: 0;
              color: @mustard-yellow;
              font-size: 16px;
            }

            &:not(:placeholder-shown) ~ label {
              transform: translate(10%, -75%) scale(.9);
              color: @mustard-yellow;
            }
        }

        label {
          position: absolute;
          top:0;
          left: 0;
          padding: 9px 0;
          font-size: 16px;
          color: #fff;
          pointer-events: none;
          transition: .5s;
        }
    }

    .login-button,
    .register-button {
      box-shadow: 0px 1px 0px 0px #fff6af;
      background: linear-gradient(to bottom, @light-yellow 5%, @mustard-yellow 100%);
      background-color:@light-yellow;
      border-radius: 6px;
      border: 1px solid @mustard-yellow;
      display: inline-block;
      cursor: pointer;
      color:#333333;
      font-size: 16px;
      font-weight: bold;
      padding: 6px 24px;
      text-decoration: none;
      text-shadow: 0px 1px 0px @light-yellow;

        &:hover {
          background: linear-gradient(to bottom, @mustard-yellow 5%, @light-yellow 100%);
          background-color:@mustard-yellow;
        }

        &:active {
          position: relative;
          top: 1px;
        }
    }

    .no-account,
    .have-account {
      margin-top: 15px;
      color: #fff;
      font-size: 14px;
    }

    .no-account-link,
    .have-account-link {
      margin-left: 8px;
      text-decoration: none;
      font-size: 14px;
      color: #03e9f4;

        &:hover {
          color: @light-orange;
        }
    }
}
