//color variables
@beige: #c5afa4;
@anti-flash-white: #eeeeff;
@light-orange: #fac18c;
@light-cyan: #61dafb;
@light-yellow: #ffec64;
@mustard-yellow: #ffa630;
@lunar-purple: #332e3c;
@cobalt-teal: #007090; 

//grayscale 
@background-white: #fefffe;
@ivory: #fdfdef;
@warm-gray: #878582;
@smoke-black: #2e2b33; 
@lamp-black: #111110;
@dark-gray:#282c34; 
